@tailwind base;

@layer base {
    body {
        .btn {
            @apply m-1 cursor-pointer text-white bg-blue-700 hover:bg-blue-800 focus:ring-2 focus:ring-blue-300 rounded-lg text-sm px-5 py-2.5 text-center 
            dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 hover:font-bold;
        }

        // .login {
        //     @apply box-border border-2 rounded-md bg-white ;
        // }

        .edit {
            @apply text-black bg-white hover:bg-gray-400 focus:ring-gray-300 rounded-lg border border-gray-200 hover:text-gray-900 focus:z-10 
            dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600;
        }

        .view {
            @apply text-black bg-pink-400 hover:bg-pink-500 focus:ring-4 focus:ring-pink-300 border-pink-600 
            items-center my-3 px-5 py-2.5 text-center;
        }
        .undo,
        .redo {
            @apply bg-pink-400 hover:bg-purple-400 hover:font-bold hover:scale-105 focus:ring-purple-300 font-thin;
        }
        .decline {
            @apply bg-red-600 hover:bg-red-800 text-black
            hover:text-black   focus:ring-red-800;
        }
        .upload {
        }
        .delete {
            @apply bg-red-400 hover:bg-orange-600 text-black
            hover:text-black hover:font-bold focus:ring-red-800;
        }
        .logout,
        .login {
            @apply bg-white text-blue-600 border-blue-600 border-2 font-semibold
            hover:text-white hover:font-bold hover:bg-blue-600 hover:border-blue-800
            hover:shadow-md;
        }
    }
}
