@tailwind components;

@layer components {
    body {
        .image {
            &-view-section {
                @apply container grid grid-cols-3 gap-2 mx-auto shadow-lg mb-10;
            }
            &-item {
                @apply bg-white rounded h-full text-gray-500 no-underline shadow-xl  hover:scale-110 hover:font-bold;
                &-description {
                    @apply text-3xl p-6;
                }
                &-single {
                    @apply w-full block rounded-b hover:cursor-pointer;
                    object-fit: cover;
                    width: 100%;
                    height: 65%;
                }
            }
        }
    }
}
