@tailwind components;

@layer components{
    body{
        .image{
            &-view-section{
                @apply container grid grid-cols-3 gap-2 mx-auto;
            }
            &-item{
                @apply bg-white rounded h-full text-gray-500 no-underline shadow-md;
                &-description{
                    @apply text-3xl p-6;
                }
                &-single{
                    @apply w-full block rounded-b;
                    object-fit: cover;
                    width: 100%;
                    max-height: 100%;
                }
            }
        }
    }
}