@tailwind components;

@layer components{
    body{
        .slideshow{
            box-sizing:border-box;
            &-container{
                @apply max-w-5xl relative m-auto max-w-3xl;
            }
            &-item{
                // @apply hidden;
                img{
                    @apply w-full bg-gradient-to-tr from-cyan-500 to-blue-500 bg-cover;
                }
                &-text{
                    @apply m-auto rounded-md border-r-white border-0 border-solid p-3 text-center;
                    
                    
                }
                h4{
                        @apply text-xl font-bold text-white hover:italic text-center absolute top-1/2 left-1/2;
                        transform: translate(-50%, 380%);
                }
            }
            &-dot{
                @apply text-center;
                &-item{
                    @apply cursor-pointer h-4 w-4 inline-block hover:text-zinc-500 bg-slate-200 mr-1;
                    
                    border-radius: 50%;
                    transition: background-color 0.6s ease;
                }
            }
        
        }

        .prev, .next{
            @apply cursor-pointer absolute top-1/2 w-auto -mt-5 p-4 opacity-60 bg-white font-bold
            text-lg select-none hover:bg-gray-500 ;
            
            transition: 0.6s ease;
            border-radius: 0 3px 3px 0;
        }
        .next{
            @apply right-0;
            border-radius: 3px 0 0 3px;
        }
        .fade {
            -webkit-animation-name: fade;
            -webkit-animation-duration: 1.5s;
            animation-name: fade;
            animation-duration: 1.5s;
        }

        @-webkit-keyframes fade {
            from {opacity: .4}
            to {opacity: 1}
        }

        @keyframes fade {
            from {opacity: .4}
            to {opacity: 1}
        }
        .active-item{
            background-color: #717171;
            }

    }
}